.container {
  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 3em 1fr;
  grid-template-areas:
    "length length"
    "width room";
  align-items: center;
  justify-content: center;
  width: min-content;
  margin: auto;
}

.width-label {
  grid-area: width;
  transform: rotate(-90deg);
}

.length-label {
  grid-area: length;
  text-align: center;
}

.room {
  position: relative;
  grid-area: room;
  display: grid;
  grid-template-columns: repeat(8, 2em);
  grid-auto-rows: 1fr;
  justify-content: space-around;
  max-width: 88vw;
  min-width: 33vw;
  min-height: 33vh;
  border: 1px solid black;
  margin: auto;
  align-items: center;
}
